.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode
.directory
ehthumbs.db
Thumbs.db
/nbproject/private/
vendor*
login/dbconf.php
composer.lock
install/cache
install/db
test/
phinx.yml
migrations.yml
.keystore
