PAGES THAT NEED DOCS
/index.php
/login/index.php
/login/signup.php
/login/resetpassword.php
/login/verifyuser.php
/admin/editconfig.php
/admin/verifyusers.php
/user/accountedit.php
/user/profileedit.php

***LIST USABLE METHODS***


******

mysql pdo driver
curl
shell_exec enabled
composer enabled
ability to execute phar files
